# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Python environment
.python-version

# Flask
instance/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# PyCharm
.idea/

# Render
.render/